
.banner {
      position: relative;
}
    button {
        width:145px;
        height: 19px;
        background:transparent;
        color:whitesmoke;
        text-transform: uppercase;
        border-color: white;
        transition: 1s;
        
    }

    button:hover {
        background: white;
        color: black;

    }
     
     





    


    






